@import "tailwindcss";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p button,
a,
li {
  font-family: "Poppins", sans-serif;
}
body,
html {
  box-sizing: border-box;
  overflow-x: hidden;
}
@theme {
  --text-heading: 1.25rem;
  --text-subheading: 1.125rem;
  --text-pararagraph: 0.8rem;
  --text-label: 0.8rem;
  --color-Input: 0.75rem;
}

.chatlistingTab {
}
.chatlistingTab .ant-tabs-nav .ant-tabs-nav-wrap {
  position: relative !important;
  display: flex !important;
  flex: auto !important;
  flex-wrap: wrap !important;
  align-self: stretch !important;
  overflow: hidden !important;
  white-space: pre-wrap !important;
  transform: translate(0) !important;
}
.chatlistingTab .ant-tabs-nav-list {
  display: block !important;
}
.chatlistingTab .ant-tabs-nav-operations {
  display: none !important;
}
.inner-chatlistingTab
  .ant-tabs-nav
  .ant-tabs-nav-wrap::-webkit-scrollbar-thumb {
  background-color: #0877ff !important;
  border-radius: 20px;
  height: 7px;
  width: 5px;
}
.inner-chatlistingTab .ant-tabs-nav .ant-tabs-nav-wrap::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}
.inner-chatlistingTab
  .ant-tabs-nav
  .ant-tabs-nav-wrap::-webkit-scrollbar-track {
  background-color: #dedede !important;
  height: 6px;
  border-radius: 30px !important;
}
.chatlistingTab .ant-tabs-tab {
  border-radius: 30px !important;
  padding: 5px !important;
  margin-left: 0px !important;
  margin-bottom: 4px !important;
  border: none !important;
  background-color: transparent !important;
}
.chatlistingTab .ant-tabs-tab-active {
  background-color: #0877ff !important;
}
.chatlistingTab .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
}
.chatlistingTab .ant-tabs-tab-btn {
  font-size: 12px !important;
  color: #b2bbc5;
}
.chatlistingTab .ant-tabs-tab-btn span {
  background-color: red;
  border-radius: 50%;
  font-size: 10px !important;
  padding: 4px 5px;
  color: #fff;
}
.chatlistingTab .ant-tabs-nav {
  padding: 1rem 5px !important;
  background-color: #edeff2;
  display: block;
  border-radius: 10px;
  margin: 1rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.chatlistingTab .ant-tabs-nav::before {
  border: none !important;
}

.inner-chatlistingTab .ant-tabs-content-holder {
  overflow-y: scroll;
  height: 100vh;
}

.inner-chatlistingTab .ant-tabs-content-holder::-webkit-scrollbar-track {
  background-color: #dedede !important;
  height: 6px;
  border-radius: 30px !important;
  height: 100vh !important;
}
.inner-chatlistingTab .ant-tabs-content-holder::-webkit-scrollbar {
  width: 5px;
  /* padding-left: 10px; */

  position: absolute;
  right: 0;
}
.inner-chatlistingTab .ant-tabs-content-holder::-webkit-scrollbar-thumb {
  background-color: #0877ff !important;
  border-radius: 20px;
  height: 7px;
  width: 5px;
}
.inner-chatlistingTab .ant-tabs-nav {
  padding: 0 !important;
  background-color: transparent !important;
  margin: 1rem !important;
  margin-top: 0 !important;
  margin-bottom: 5px !important;
}
.inner-chatlistingTab .ant-tabs-tab-btn span {
  margin-left: 5px;
}

.header-search {
  background-color: #f3f3f9 !important;
  border: 1px solid #f3f3f9 !important;
}
.header-search svg {
  fill: #9c9fac !important;
}

.order-card {
}
.order-card::-webkit-scrollbar-track {
  background-color: #dedede !important;
  height: 6px;
  border-radius: 30px !important;
  height: 100vh !important;
}
.order-card::-webkit-scrollbar {
  width: 5px;
  /* padding-left: 10px; */

  position: absolute;
  right: 0;
}
.order-card::-webkit-scrollbar-thumb {
  background-color: #0877ff !important;
  border-radius: 20px;
  height: 7px;
  width: 5px;
}
.order-card-detail .ant-card-body {
  padding: 15px 10px !important;
}
.hideMenu {
  transform: translateX(-300px);
}
.showMenu {
  transform: translateX(0);
}
.mobile-measage-content {
  flex-flow: column-reverse !important;
  height: 100% !important;
}
.header-btn {
  display: none;
}
.close-btn {
  display: none;
}
.order-detail-btn {
  display: none !important;
}
.sidebar-parent {
}
.sidebar-parent .sidebar-inner {
}
.chats-parent {
}
.chats-parent .header {
}
.chats-parent .customer-card {
}
.chats-parent .messages-parent {
}
.chats-parent .message-content {
}
.chats-parent .order-card {
}
/* Responsive Start */

@media (max-width: 1200px) {
  .sidebar-parent {
    position: absolute;
    left: -1200px;
    top: 0;
    z-index: 99999;
    width: 400px;
    background: red;
    transition: 0.5s;
  }
  .showMenu.sidebar-parent {
    left: 0px;
  }
  .chats-parent {
    width: 100% !important;
  }
  .close-btn {
    display: block;
  }
}
@media (max-width: 1280px) {
}
@media (max-width: 1280px) and (min-width: 1024px) {
}
@media (max-width: 1023px) and (min-width: 992px) {
  .header {
    height: 17vh;
  }
  .customer-card {
    height: 16vh;
  }
  .messages-parent {
    height: 65vh;
  }
  .chats-parent .message-content {
    height: 64vh;
  }
  .chats-parent .order-card {
    height: 64vh;
  }
}
@media (max-width: 991px) {
  .header {
    height: 13vh;
  }
  .customer-card {
    height: 100vh;
    position: absolute;
    width: 320px;
    top: 0;
    right: -100%;
    display: block;
    transition: 0.5s;
    z-index: 9999;
    display: none;
  }
  .customer-card section {
    height: 100%;
  }
  .customer-card .customer-card-inner {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .customer-card .customer-card-inner p {
    display: flex;
    gap: 5;
    padding-bottom: 10px;
  }
  .show-customer-card.customer-card {
    display: block;
    right: 0px;
    padding: 10px;
  }
  .show-customer-card .customer-card-outer-inner {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .messages-parent {
    height: 85vh;
  }
  .messages-parent .ant-col-16{
    width: 100%;
  }
  .chats-parent .message-content {
    height: 85vh;
    width: 98vw;
  }
  .chats-parent .order-card {
    height: 64vh;
  }
  .order-detail-btn {
    display: block !important;
  }
  .chats-parent .order-card {
    position: absolute;
    right: -200%;
    width: 380px;
    height: 100vh;
    bottom: 0;
    transition: 0.5s;
  }
  .cardShow.order-card {
    right: 0;
    bottom: 0px;
    height: 97vh;
    z-index: 9999;
    padding-top: 51px;
  }
  .order-car-inner {
    height: 100vh;
  }
}

@media (max-width: 900px) {
  .header {
    height: 15vh;
  }
}

@media (max-width: 767px) {
  .header {
    height: 17vh;
  }
}
@media (max-width: 577px) {
  .header .header-search-section.ant-col-8 {
    width: 80% !important;
  }
  .header-btn {
    display: block;
  }
  .header .header-menu-section {
    position: absolute;
    right: -100%;
    top: 10px;
    transition: 0.5s;
    top: 20%;
  }
  .header .show-menu.header-menu-section {
    right: 10px;
  }
  .header .show-menu .header-menu-section-inner {
    width: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    z-index: 9999;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    flex-flow: column-reverse;
  }
  .header .show-menu .header-menu-section-inner div {
    text-align: justify;
  }

  .chats-parent .order-card {
    right: -360%;
  }
  .header {
    height: 15vh;
  }
  .header .bread-crum {
    padding: 10px 0;
  }
  .cardShow.order-card {
    right: 0;
    bottom: 0px;
    height: 97vh;
    z-index: 9999;
    padding-top: 51px;
    width: 60vw;
    margin: 18px 0;
  }
  .showMenu.sidebar-parent {
    width: 100vw;
  }
}
@media (max-width: 490px) {
  .customer-card {
    width: 320px;
  }
}
@media (max-width: 470px) {
}
@media (max-width: 400px) {
  .showMenu.sidebar-parent {
    width: 100vw;
  }
}
@media (max-width: 390px) {
  .customer-card {
    width: 320px;
  }
  .cardShow.order-card {
    width: 80vw;
  }
}
@media (max-width: 375px) {
  .customer-card {
    width: 80%;
  }
  .chats-parent .order-card {
    right: -470%;
  }
  .cardShow.order-card {
    right: 0;
    bottom: 0px;
    height: 97vh;
    z-index: 9999;
    padding-top: 51px;
  }
}
@media (max-width: 320px) {
  .chats-parent .order-card {
    right: -540%;
  }
  .cardShow.order-card {
    right: 0;
    bottom: 0px;
    height: 97vh;
    z-index: 9999;
    padding-top: 51px;
  }
}

/* Responsive End */
